input[type=text] {
    color: black;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #AE6400;
    border-radius: 4px;
}
input[type=Password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #AE6400;
    border-radius: 4px;
}
input[type=Number] ,select , textarea{
    color: black;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #AE6400;
    border-radius: 4px;
}
#log_in_forms {
    margin-left: 30%;
}
#log_in_forms2 {
    margin-left: 20%;
}
.button {
    background-color: #AE6400; /* Green */
    border-radius: 10px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    background-color: #FF9200;
    border-radius: 13px;
    transition: 0.5s;
    color: white;
}
.back {
    background-color: #AE6400; /* Green */
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.back:hover {
    background-color: #FF9200;
    border-radius: 13px;
    transition: 0.5s;
    color: white;
}
#error_message {
    color: rgb(255, 255, 255);
    border-radius: 10px;
    display: block;
    margin-right: 50%;
    padding: 10px;
    background-color: #FF4040;
}
#register {
    font-family: Arial, Helvetica, sans-serif;
    color: #FF9200;
}
select {
    font-size: 15px;
}
.headers {
    background-color: #000000;
    color: white;
    padding: 10px;
}
.actions {
    text-decoration: none;
    padding: 10px;
    background-color: #D87B00;
    color: #FFFFFF;
    border-radius: 3px;
    transition: 0.3s;
}
.actions:hover {
    text-decoration: none;
    padding-top: 15px;
    background-color: #FF9E1F;
    color: #FFFFFF;
    border-radius: 10px;
    transition: 0.3s;
}
.my_events {
    border-style: dashed;
    border-color: #7E4700;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.others {
  background-color: black;
  color: white;
  opacity: 0.9;
  filter: alpha(opacity=90);
  float: left;
  margin-left: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
  padding: 5px;
  align-content: center;
}


#imgblur {
    transition: 0.01s;
}
#imgblur:hover{
    transition: 0.03s;
    filter: blur(5px);
    background-color: #AE6400;
}

