
.bodyAdd_image {
	background-image: url("../images/portfolio_big_05.jpg");
 	 background-repeat: repeat;
}
.bodyChange_payment {
	background-image: url("../images/trybg.jpg");
 	 background-repeat: repeat;
}
.bodyCreate_event {
	background-image: url("../images/portfolio_big_01.jpg");
 	 background-repeat: repeat;
}
.bodyJoin_event {
	background-image: url("../images/portfolio_big_08.jpg");
 	 background-repeat: repeat;
}
.bodyLog_in{
	background-image: url("../images/portfolio_big_03.jpg");
 	 background-repeat: repeat;
}
.bodyMy_Events{
	background-image: url("../images/portfolio_big_06.jpg");
 	 background-repeat: repeat;
}
.bodyMy_Joined_Events{
	background-image: url("../images/portfolio_big_07.jpg");
 	 background-repeat: repeat;
}

.bodyUpdate_Events{
	background-image: url("../images/portfolio_big_05.jpg");
 	 background-repeat: repeat;
}

.bodyUpdate_Image{
	background-image: url("../images/portfolio_big_05.jpg");
 	 background-repeat: repeat;
}
.bodyview_Participants{
	background-image: url("../images/portfolio_big_08.jpg");
 	 background-repeat: repeat;

}

.bodysign_Up{
	background-image: url("../images/portfolio_big_03.jpg");
 	 background-repeat: repeat;

}

