
.bodyAdd_image {
	background-image: url("../images/portfolio_big_05.jpg");
 	 background-repeat: repeat;
}
.bodyChange_payment {
	background-image: url("../images/trybg.jpg");
 	 background-repeat: repeat;
}
.bodyCreate_event {
	background-image: url("../images/portfolio_big_01.jpg");
 	 background-repeat: repeat;
}
.bodyJoin_event {
	background-image: url("../images/portfolio_big_08.jpg");
 	 background-repeat: repeat;
}
.bodyLog_in{
	background-image: url("../images/portfolio_big_03.jpg");
 	 background-repeat: repeat;
}
.bodyMy_Events{
	background-image: url("../images/portfolio_big_06.jpg");
 	 background-repeat: repeat;
}
.bodyMy_Joined_Events{
	background-image: url("../images/portfolio_big_07.jpg");
 	 background-repeat: repeat;
}

.bodyUpdate_Events{
	background-image: url("../images/portfolio_big_05.jpg");
 	 background-repeat: repeat;
}

.bodyUpdate_Image{
	background-image: url("../images/portfolio_big_05.jpg");
 	 background-repeat: repeat;
}
.bodyview_Participants{
	background-image: url("../images/portfolio_big_08.jpg");
 	 background-repeat: repeat;

}

.bodysign_Up{
	background-image: url("../images/portfolio_big_03.jpg");
 	 background-repeat: repeat;

}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #AE6400;
    border-radius: 4px;
}
input[type=Password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #AE6400;
    border-radius: 4px;
}
input[type=Number] ,select , textarea{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #AE6400;
    border-radius: 4px;
}
#log_in_forms {

      margin-left: %;
}

.log_in_forms_for_Log_in {
  position: absolute;
  top: 20%;
  left:30%;
    width:40%;
    background-color: black;
    opacity: 0.9;
    filter: alpha(opacity=90);
    margin-bottom: 1%;
    border-radius: 10px;
    padding: 10px;

}
#log_in_forms2 {
    margin-left: 20%;
}